@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
                

:root{
  --primary-blue: #003459; 
  --primary-blue-darker:#002A48;
  --primary-blue-neutral: #242B33;
  --primary-blue-lighter:#00528C;
  --light-blue:#0078CD;

  --neutral-white:#FDFDFD;

  --secondary-yellow:#F7DBA7;
  --secondary-yellow-darker:#EEC77E;
  --secondary-yellow-lighter:#F1D092;
  --secondary-yellow-lighter:#F1D092;
  --secondary-yellow-tint:#FCEED5;

  --medium-size-font :1.6rem;
  --bigger-size-font:2.4rem;
}

html{
  font-size: 62.5%;
}

article{
  padding-inline: 130px;
}

body{
  background-color: #f7f7f7;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'gilroy-bold';
}

/* globals */

a{
  text-decoration: none;
  color: var(--primary-blue-darker);
}

.view-explore{
  display: flex;
  gap: 14px;
  align-items: center;
}

.intro-btn img{
  border: 1.5px solid var(--primary-blue);
  border-radius: 50%;
}

.intro-btn{
  background-color: transparent;
  border: 1.5px solid var(--primary-blue);
  border-radius: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 28px 10px;
  font-size: var(--medium-size-font);
  color:var(--primary-blue);
  cursor: pointer;

  height: 48px; /*temp*/
}


.explore-btn{
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  border: none;
  border-radius: 57px;
  padding: 14px 28px 10px;

  font-size: var(--medium-size-font);

  min-height: 48px;

  cursor: pointer;
}

.article--header{
  display: flex;
  justify-content: space-between;
}

.article--header p{
  font-size: var(--medium-size-font);
  color: var(--primary-blue-neutral);
}

.article--header h4{
  color: var(--primary-blue);
  font-size: var(--bigger-size-font);
}

.article--header a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  border: 1.5px solid var(--primary-blue);
  border-radius: 57px;
  padding: 12px 28px;
}

.article--header img{
  transform: rotate(-90deg);
}


.card{
  padding: 8px;
  border-radius: 12px;
  background-color: var(--neutral-white);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card figcaption{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 8px 20px;
}

.card figcaption h2{
  color: #00171F;
  font-size: var(--medium-size-font);
}

.card figcaption p{
  color:#667479;
}

.card figcaption .price{
  color: var(--primary-blue-neutral);
  font-size: 1.4rem;
  margin-top: 4px;
}

.card >img{
  width: 100%;
  border-radius: 10px;
}

.card-bonus{
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 6px 12px;
  background-color: var(--secondary-yellow);
  margin: 8px 0;
  border-radius: 8px;
}

.card-bonus p{
  color: var(--primary-blue-neutral)!important;
}

/* --------------- */

.nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px 130px;
  position: static;
}

.nav--main-page{
  background-color: var(--secondary-yellow-tint);
}

.nav--links{
  display: flex;
  gap: 48px;
  align-items: center;
  font-size: var(--medium-size-font);
}

.nav--join{
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

#join-btn{
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  font-weight: bolder;
  padding: 13px 28px;
  border-radius: 57px;
  font-size: var(--medium-size-font);
}

#select-language{
  padding: 10px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#select-language select{
  background-color: transparent;
  border: none;
  color: var(--primary-blue);
}

/* absolute elements */
.nav--links img{
  position: relative;
  z-index: 999;
}

.nav--main-page::after{
  content: '';
  position: absolute;
  background-color: var(--secondary-yellow);
  width: 635px;
  height: 635px;
  border-radius: 99px;

  transform: rotate(25.23deg);
  top:-590px;
  left: -240px;
}
/*  */

/* --------------- */

.hero{
  background-color: var(--secondary-yellow-tint);
  display: grid;
  grid-template-columns: 1fr 600px;
  overflow: hidden;
  border-radius: 0 0 40px 40px;
}

.lady-and-dog{
  transform: translatex(-220px);
  z-index: 90000;
  position: relative;
}

.lady-and-dog img{
  height: 100%; 
} /*small fix*/

.hero--text{
  padding-top: 80px;
  color: var(--primary-blue-darker);
  width: 85%;
}

.hero--text h1{
  font-size: 6rem;
  line-height: 1.02;
  position: relative;
  z-index: 9999;
}

.hero--text h1 span{
  font-size: 4.6rem;
  font-weight:200;
}

.hero--text p{
  font-size: var(--medium-size-font);
  line-height: 2;
  font-weight: 400;
  color: #000;
  margin: 24px 0 34px 0;
}

/* absolute elements */

.hero--text h1::before{
  content: '';
  height: 67px;
  width: 67px;
  background-color: var(--secondary-yellow);
  position: absolute;
  z-index: -1;
  transform: rotate(25deg);
  border-radius: 20px;
  top:-12px;
  left: -7px;
}

.lady-and-dog::after{
  content: '';
  height: 635px;
  width: 635px;
  background-color: var(--secondary-yellow);
  position: absolute;
  z-index: -1;
  transform: rotate(25deg);
  border-radius: 99px;
  top: 200px;
  right: -200px;
}

.lady-and-dog::before{
  content: '';
  height: 635px;
  width: 635px;
  background-color: var(--primary-blue);
  position: absolute;
  z-index: -1;
  transform: rotate(9deg);
  border-radius: 99px;
  top: 260px;
  right: -139px;
  z-index: -1;
}

.small-square--yellow,
.small-square--blue{
  position: absolute;
  border-radius: 6px;
}

.small-square--blue{
  background-color: var(--primary-blue);
  transform: rotate(43deg);
  height: 21px;
  width: 21px;
  top: 160px;
  left: 200px;
}

.small-square--yellow{
  background-color: var(--secondary-yellow);
  transform: rotate(22.85deg);
  top: 150px;
  left: 198px;
  height: 27px;
  width: 27px;
  z-index: -1;
}

.small-square--yellow::after{
  content: '';
  position: absolute;
  background-color: var(--secondary-yellow);
  transform: rotate(21deg);
  width: 14px;
  height: 14px;
  border-radius: 4px;
  top: -100px;
  left: -10px;  
}

/* ----------- */

#whats-new--section{
  margin-top: 60px;
}

#whats-new--section >article:last-child{
  margin-top: 28px;
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* ---------- */

#one-more--section{
  background-color: var(--primary-blue);
  margin: 36px 130px 60px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  padding: 36px 85px 0  0;
}

#one-more--article{
  padding-inline: 0;
  display: flex;
  text-align: end;
  font-size: 1.2rem;
  color: var(var(--primary-blue-neutral));
  z-index: 999;
}

#one-more--article > div{
  position:sticky; /*for z-index*/
  z-index: 199;
  height: 100%;
}

#one-more--article >div:last-child{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

#one-more--text h4{
  font-size: 5.2rem;
  color: var(--primary-blue);
}

#one-more--text h4 span{
  font-size: 3.6rem;
}

#one-more--text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#one-more--text p{
  margin: 8px 0 24px 0;
  font-size: 1.2rem;
  color: var(--primary-blue-neutral);
  line-height: 2;
  width: 75%;
}

/* absolute elements */

#one-more--section::after{
  content: '';
  position: absolute;
  background-color: var(--primary-blue-darker);
  width: 787px;
  height: 787px;
  transform: rotate(28deg);
  border-radius: 99px;
  bottom: -610px;
  left: -190px;
}


#one-more--section::before{
  content: '';
  position: absolute;
  background-color: var(--secondary-yellow-tint);
  width: 782px;
  height: 635px;
  transform: rotate(25deg);
  border-radius: 99px;
  top: -210px;
  right: -150px;
}

/* ------ */


#our-products--section >article:last-child{
  margin-top: 28px;
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ------ */

#sellers--section{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: var(--medium-size-font);
}

#sellers--section article:first-child div{ 
  display: flex;
  justify-content: space-between;
}

#sellers--section h4 strong{
  font-size: var(--bigger-size-font);
  color: var(--primary-blue);
}

#sellers--section article a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  border: 1.5px solid var(--primary-blue);
  border-radius: 57px;
  padding: 12px 28px;
}


#sellers--section article:first-child img{
  transform: rotate(-90deg);
}

#sellers--section article:last-child{
  display: flex;
  gap: 20px;
  max-height: 112px;
  align-items: center;
  justify-content: space-between;
}


/* ------ */
#adoption--section{
  margin: 40px 130px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 86px;
} /* ????? */

#adoption--article{
  display: flex;
  justify-content: space-between;
  background-color: #FFB775;
  border-radius: 20px;
  padding-inline: 85px;
}

.adoption--text{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 64px;
}

.adoption--text h4{
  font-size: 5.2rem;
  color: var(--primary-blue);
}

.subheading{
  font-size: 3.6rem;
  text-wrap: nowrap;
  margin-bottom: 8px;
  color: var(--primary-blue);
}

.adoption--text p {
  font-size: 1.2rem;
  color: var(--primary-blue-neutral);
  line-height: 2;
}

/* absolutes */

.adoption--text *{
  z-index: 999;
}

#adoption--article img{
  position: sticky;
  z-index: 9999;
}

.adoption--text::after{
  position: absolute;
  content: '';
  border-radius: 99px;
  width: 782px;
  height: 635px;
  background-color: var(--secondary-yellow-tint);
  transform: rotate(154deg);
  top: -210px;
  left: -300px;
}

.adoption--text::before{
  position: absolute;
  content: '';
  border-radius: 99px;
  width: 782px;
  height: 787px;
  background-color: #ffe7ba8c;
  transform: rotate(151deg);
  bottom: -580px;
  left: 500px;
}

/* ----------*/


/* pet knowledge */
.article--header > div:last-child{
  display: flex;
  gap: 22px;
}

.left-btn, .right-btn{
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--primary-blue);
  padding: 12px 28px;
  border-radius: 57px;

  width: 76px;
}

.left-btn img{
  transform: rotate(90deg);
}

#fact--section > article:last-child{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
  margin-top: 26px;
}

.fact-card{
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  border-radius: 12px;
  max-width: 380px;
}

.fact-card img{
border-radius: 12px;
}

.fact-card aside{
  color: var(--neutral-white);
  background-color: #00A7E7;
  border-radius: 28px;
  margin: 8px;
  max-width: 88px;
  padding: 2px 10px;
  font-size: 1rem;
  text-wrap: nowrap;
  text-align: center;
}

.fact-card> div:last-child{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fact-card div:last-child h4, .fact-card div:last-child >p{
  padding: 8px;
}

.fact-card div:last-child h4{
  font-size: 1.6rem;
}

.fact-card div:last-child >p{
  font-size: 1.4rem;
  color: var(--primary-blue-neutral);
  line-height: 1.1;
}

/* ----------*/
/* summer event*/
#summer-event--section{
  margin-top: 84px;
  padding: 0 130px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#summer-event--section h2{
  font-size: 4.8rem;
  color: var(--primary-blue);
}


#summer-event--section >div:last-child{
  display: flex;
  justify-content: space-between;
}

#summer-event--section >div:last-child div{
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  border-radius: 22px;
  padding: 46px 40px;
  text-align: center;
  font-size: 1.6rem;
  min-width: 267px;
}

#summer-event--section >div:last-child div span{
  font-size: 6.4rem;
}


footer{
  margin-top: 70px;
  display: flex;
  flex-direction: column;

  background-color: var(--secondary-yellow-tint);
  padding: 80px 130px 0 130px;
}

footer >div{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom:  1px solid #CCD1D2;
}

footer form{
  padding: 32px;
  color: var(--neutral-white);
  background-color: var(--primary-blue);
  display: grid;
  align-items: center;
  grid-template-columns: 35fr 65fr;
  gap: 20px;
  border-radius: 16px;
}

footer form h3{
  font-size: var(--bigger-size-font);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer form div{
  background-color: var(--neutral-white);
  border-radius: 14px;
  padding: 12px;
  display: grid;
  grid-template-columns: 67fr 33fr;
  gap: 12px;
}

footer form div input{
  padding: 14px 28px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

footer form div input:last-of-type{
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  border: none;
}

footer nav{
  display: flex;
  justify-content: space-between;
}

footer nav> div:last-child,footer nav> div:first-child{
  display: flex;
  justify-content: space-between;
}


footer nav> div:first-child{
  gap: 60px;
  font-size: 1.6rem;
  color: #000;
}

footer nav> div:last-child{
  gap: 40px;

}

footer aside{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

footer aside >div:last-child{
  display: flex;
  gap: 40px;
}

footer aside p, footer aside a {
  font-size: 1.4rem;
  color: #667479;
}

/*  */
/*  */
/*  -------- filter page -------- */
/*  */
/*  */

#filter--hero aside{
  margin: 0 130px ;
}

#filter--hero article{
  background-color: var(--secondary-yellow-tint);
  margin: 0 130px ;
  padding: 77px 50px 0;
  border-radius: 20px;

  display: flex;

  position: relative;

  overflow: hidden;
}


#filter--hero >article >img{
  max-height: 300px; 
  transform: translateY(40px);
} /*temp*/

#one-more--text.one-more--filter{
  margin-bottom: 60px;
}

#one-more--text.one-more--filter h4,
#one-more--text.one-more--filter p{
  color: var(--neutral-white);
  text-align: end;
}

/*  */

#filter--hero *{
  z-index: 999;
}

#filter--hero aside{
  display: flex;
  gap: 17px;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 1.4rem;
}

#filter--hero aside a{ 
  color: #667479;
}

#filter--hero aside img{
  transform: rotate(-90deg);
}


#filter--hero article::after{
  content: '';
  background-color: var(--primary-blue);
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 99px;
  transform: rotate(160deg);
  right:  -100px;
  top: -30px;
}

.view-explore.view-explore--filter .intro-btn{
  color: var(--neutral-white);
  border-color: var(--neutral-white);
}

.view-explore.view-explore--filter .intro-btn img{
  border-color: var(--neutral-white);
}

.view-explore.view-explore--filter .explore-btn{
  background-color: var(--neutral-white);
  color: var(--primary-blue);
}

#filter--filter{
  margin: 35px 130px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

#filter--filter h3{
  color: var(--primary-blue);
  font-size: 2.4rem;
}

#filter-form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#filter-form form fieldset{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-bottom: 1px solid #ebeeef;
  padding-bottom: 16px;
}

#filter-form form fieldset legend{
  font-size: 1.6rem;
  color: #00171F;
  margin: 10px 0;
}

#filter-form form fieldset label{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 1.4rem;
  text-wrap: nowrap;
}

#filter-form form fieldset label{
  max-width: 15px;
  max-height: 15px;
}

#price-fieldset div{
  display: flex;
  gap: 10px;
}

#price-fieldset div input{
  width: 50%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ebeeef;
}

#f-c--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

#f-c--header > div:first-child{
  display: flex;
  align-items: center;
  gap: 17px;
}

#f-c--header > div:last-child{
  border: 1px solid #CCD1D2;
  border-radius: 20px;
  color: #667479;
  padding: 8px 20px;
}

#f-c--header > div:last-child select{
  color: inherit;
  background-color: transparent;
  border: none;
}


#f-c--header aside p{
  color: #667479;
  font-size: 1.4rem;
}

#f-c--cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 26px;
  column-gap: 20px;
}

#f-c--cards .card{
  cursor: pointer;
}

#details--section{
  margin: 20px 130px;
  display: flex;
  gap: 35px;
  border:2px solid #ebeeef;
  border-radius: 20px;
  padding: 20px;
}

#img-col{
  display: flex;
  flex-direction: column;
  gap: 17px;
}

#details--bonuses{
  display: flex;
  justify-content: space-between;
  gap: 27px;
  background-color: var(--secondary-yellow-tint);
  border-radius: 10px;
  padding: 10px 12px;
}

#details--bonuses article{
  padding-inline: 0;
  color: var(--primary-blue-darker);
  font-size: 1.4rem;
  gap: 20px;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
}

#details--share{
  display: flex;
  gap: 20px;
  padding: 6px 10px;
}

#details--share> div:first-child{
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--primary-blue-darker);
  font-size: 1.4rem;
}

#details-col{
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #667479;
}

#details-col .map{
  display: flex;
  gap: 10px;
  align-items: center;
}

#details-col .map a{
  color: inherit;
}

#details-col .map img{
  transform: rotate(-90deg);
  height: 3px;
}


#details-col article{
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#details-col > article span{
  color: #CCD1D2;
}

.contact {
  display: flex;
  align-items: center;
  gap: 18px;
}
.contact a:first-of-type{
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  border-radius: 57px;
  padding: 14px 28px;
  font-size: 1.6rem;
  max-height: 45px;
}

.contact a:last-of-type{
  border: 1px solid var(--primary-blue-darker);
  border-radius: 57px;
  padding: 12px 28px;
  font-size: 1.6rem;
  display: flex;
  gap: 10px;
  align-items: center;
  max-height: 45px;
}

#details--values div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  /* justify-content: space-between; */
  padding: 12px 10px;
  border-bottom: 1px solid #CCD1D2;
  font-size: 1.4rem;
}

#details--values >div:last-child{
  height: auto;
}

#customers--section{
  overflow-x: scroll;
  margin: 44px 130px;
}
#customers--section h4{
  color: var(--primary-blue-neutral);
  font-size: 2.4rem;
  margin-bottom: 12px;
}


.customer--images{
  display: flex;
  gap: 12px;
  max-height: 340px;
}

#log-in--main{
  margin: 103px auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.with-google{
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #CCD1D2;
  border-radius: 4px;
  padding: 10px 70px;

  font-size: 1.4rem;
}

.or{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--primary-blue);
  font-size: 1.2rem;
}

.or> div:first-child, .or>div:last-child{
  height: 1px;
  width: 100%;
  background-color: #CCD1D2;
}

#log-in--main form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#log-in--main form input{
  width: 100%;
  border-radius: 6px;
  border: 1px solid #CCD1D2;
  padding: 10px 15px;
}

#log-in--main form label{
  color: var(--primary-blue);
  display: block;
  font-size: 1.4rem;
}
#log-in--main form a:last-of-type{
  text-align: end;
  margin-top: 16px;
  font-size: 1.4rem;
}

#log-in--main button{
  cursor: pointer;
  background-color: var(--primary-blue);
  color: var(--neutral-white);
  border-radius: 4px;
  border: none;
  padding: 12px 24px;
  margin-top: 24px;
}

#log-in--main> a:last-of-type{
  text-align: center;
  font-size: 1.4rem;
}

/* #log-in--main.sign-in--main,
#log-in--main.reset--main{
  margin-top: 315px;
}  */

#log-in--main.reset--main p{
  color: var(--primary-blue-lighter);
  font-size: 1.4rem;
  line-height: 2;
}